/.org-id-locations
/ac-comphist.dat
/auto-save-list/
/backups/
/bookmarks
/elpa/
/ido.last
/kkcrc
/places
/projectile-bookmarks.eld
/projectile.cache
/semanticdb/
/server/
/srecode-map.el
/url
*~
/.erc-auth
/recentf
/games/
/eshell/history
/eshell/lastdir
/TAGS
