[submodule "snippets"]
	path = snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "personal/mu4e-multi"]
	path = personal/mu4e-multi
	url = https://github.com/fgallina/mu4e-multi.git
