/.org-id-locations
/ac-comphist.dat
/auto-save-list/
/backups/
/bookmarks
/elpa/
/ido.last
/kkcrc
/places
/projectile-bookmarks.eld
/projectile.cache
/semanticdb/
/server/
/srecode-map.el
/url
*~
/.erc-auth
/recentf
/games/
/eshell/history
/eshell/lastdir
/TAGS
/personal/personal-dirs.el
/personal/mu4e-multi-set-values.el
/personal/mu4e-set-account-values.el
/erc-auth.el
