[submodule "snippets"]
	path = snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "lib/funda-haxe-mode"]
	path = lib/funda-haxe-mode
	url = https://github.com/pierre-arlaud/funda-haxe-mode.git
